LoginWsServiceImpl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.webportal.nit.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.webportal.nit.com" xmlns:intf="http://ws.webportal.nit.com" xmlns:tns1="http://vo.webportal.nit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.webportal.nit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://vo.webportal.nit.com"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="appName" type="xsd:string"/>
      <element name="appId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="tns1:Response"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://vo.webportal.nit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Response">
    <sequence>
     <element name="statusCode" nillable="true" type="xsd:string"/>
     <element name="statusMessage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoginWsServiceImpl">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginWsServiceImplSoapBinding" type="impl:LoginWsServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginWsServiceImplService">

      <wsdl:port binding="impl:LoginWsServiceImplSoapBinding" name="LoginWsServiceImpl">

         <wsdlsoap:address location="http://localhost:2020/WorkPortal/services/LoginWsServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>